html {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}
 :root {
  --gold: #d4af37;
  --orange: ##C08A4A;
  --black: #000;
  --white: #fff;
  --gray: #e4e4e4;
  --grayDark: #555;
  --greyMaisDark: #333;
  --creme: #fff5d9;
  --quente: #e48b00;
}

body {
  margin: 0;
  background-color: var(--creme);
  color: var(--black);
  font-family: 'Be Vietnam Pro', sans-serif;  
}

header{
  border-color: gr;
  border-bottom: 0.1rem solid;
}

header h1 {
  margin: 0;
  font-weight: 800;
  
}

nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.8rem;
}

nav li {
  font-weight: 200;
  padding: 0.8rem;
  text-transform: uppercase;
  padding: 0 2%;
}

nav li.bar {
  position: relative;
}

nav li.bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25%;
  height: 50%;
  width: 0.1rem;
  background-color: var(--black);
}

nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  justify-items: center;

}

nav a:hover {
  text-decoration: underline;
}

header .container {
  background: #c58a43;
  width: 100%;
  height: auto;
  justify-items: center;
}

.container img {
  display: flex;
  width: 16rem;
  height: 10rem;
  margin: 0 1rem 1rem 1rem;
}

.inicio{
  max-width: 120rem;
  margin: 1.5rem auto;
  padding: 2rem;
}

.inicio-lumix{
  max-width: 120rem;
  margin: 1.5rem auto;
  padding: 2rem;
}

main h1.titulo {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--quente);
  margin: 1rem 0 0 8rem;
  text-align: justify;
}

main .sobreLumeInicio .paragrafo1, .paragrafo2, .paragrafo3, .paragrafo4, .paragrafo5, .paragrafo6, .paragrafo0-0, .paragrafo1-0, .paragrafo2-0, .paragrafo3-0, .paragrafo4-0, .paragrafo5-0{
  margin-left: 8rem;
  margin-top: 1.6rem;
  display: flex;
  width: 80%;
  height: 100%;
  font-size: 2rem;
  text-align: justify;
}

main .sobreLumeInicio-lumix .paragrafo0-0{
  font-size: bold;
}

main .sobreLumeInicio-lumix img{
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 1rem 1rem 8rem;
}

main .sobreLumeInicio-lumix p{
  margin-left: 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

main .sobreLumeInicio p{
  margin-left: 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

main .sobreLumeInicio img{
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 1rem 1rem 8rem;
}

main .sobreLumeInicio .paragrafo2{
  margin-bottom: 0.8rem;
}

main .sobreLumeInicio .paragrafo4{
  margin-top: 0.2rem;
}

main .sobreLumeInicio .paragrafo5{
  font-weight: 600;
  margin-top: 0.2rem;
}

main .sobreLumeInicio .paragrafo6{
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.disclaimer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #c58a43;
  padding: 1.5008rem 4rem;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  border-top: #000 solid 0.2rem;
  color: var(--white);
  font-weight: 600;
  font-size: 1.6rem;
  gap: 60rem;
  /* Começa invisível */
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.disclaimer .text{
  margin-top: 2.5rem;
  color: #ffffff;
  flex-direction: column;
  flex-shrink: 0;
}

.disclaimer .title{
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.disclaimer .subtitle{
  font-weight: 500;
  font-size: 1.6rem;
}

.disclaimer .contact{
  align-items: flex-end;
  text-align: left;
  font-size: 1.5rem;
  right: 1rem;
  width: 100%;
}

.contact .title{
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

/* EQUIPE.HTML */

.equipe-container {
  max-width: 90rem;
  margin: 1.5rem auto;
  padding: 2rem;
}

.intro {
  text-align: center;
  margin-bottom: 3rem;
}

.intro h2{
  color: var(--quente);
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.intro p{
  font-size: 2rem;
}

.membro {
  margin-bottom: 4rem;
}

.membro h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.4rem;
}

.membro .funcao {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--greyDark);
}

.membro p {
  text-align: justify;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: var(--black);
}

.membro img {
  width: 100%;
  max-height: 70rem;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.linha-divisoria {
  border: 1px solid;
  height: 0.2rem;
  color: var(--gold); /* ou a cor que combine com seu site */
  margin: 3rem auto;       /* espaço acima e abaixo */
  width: 100%;              /* largura da linha */
}

/* COLABORADORES.HTML */

/* Seção de colaboradores */
.colaboradores-container {
  max-width: 100rem;
  margin: 1.5rem auto;
  padding: 1rem;
  text-align: justify;
}

.colaboradores h1 {
  font-weight: 600;
  margin: 1rem 0 0.4rem 0rem;
  color: var(--quente);
  font-size: 2.4rem; /* tom de destaque quente */
}

.colaboradores p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  margin-left: 0.3rem;
}

.colaborador {
  background-color: var(--creme);
  padding: 0.5rem;
  border-left: 0.5rem solid;
  border-color: var(--quente);
  border-radius: 0.8rem;
  margin: 2rem 0;
}

.colaborador p{
  font-size: 1.7rem;
}

.colaboradores a {
  color: #0077cc;
  text-decoration: none;
  font-weight: 600;
}

.colaboradores a:hover {
  text-decoration: underline;
}

/* SOBRE.HTML */

.sobre-container {
  max-width: 100rem;
  margin: 1.5rem auto;
  padding: 1rem;
  text-align: justify;
}

.sobreNos h1 {
  font-weight: 600;
  margin: 1rem 0 0.4rem 0rem;
  color: var(--quente);
  font-size: 2.4rem; /* tom de destaque quente */
}

.sobreNosText p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  margin-left: 0.3rem;
}

.sobre_contact_text{
  text-align: justify;
  padding: 0.5rem;
  border-left: 0.5rem solid;
  border-color: var(--quente);
  border-radius: 0.8rem;
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  margin-left: 0.3rem;
}

.sobre_contact .title{
  font-weight: 600;
  margin: 1rem 0 0.4rem 0rem;
  color: var(--quente);
  font-size: 2.4rem;
}

/* TRABALHOS.HTML */

.trabalhos-container {
  max-width: 100rem;
  margin: 1.5rem auto;
  padding: 1rem;
  text-align: justify;
}

.trabalhos h1 {
  font-weight: 600;
  margin: 1rem 0 0.4rem 0rem;
  color: var(--quente);
  font-size: 2.4rem; /* tom de destaque quente */
}

.trabalhosText p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  margin-left: 0.3rem;
}

.trabalhosText .explore{
  font-weight: bold;
}

.carrossel {
  position: relative;
  margin: 3rem 0;
}

.carrossel-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1.6rem;
  padding: 3rem 3rem 3rem 3rem;
}

.carrossel-wrapper::-webkit-scrollbar {
  display: none; /* escondendo a barra de rolagem */
}

.carrossel-wrapper img {
  width: 20rem;        /* Diminui a largura */
  height: auto;        /* Altura proporcional */
  object-fit: cover; /* Evita cortes */
  border-radius: 8px;
  flex-shrink: 0;
  box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.1);
  transition: all 0.4s ease-in-out;
}

/* Efeito no hover */
.carrossel-wrapper img:hover {
  transform: scale(1.2);         /* aumenta um pouco */
  object-fit: contain;           /* mostra tudo */
  background-color: #fff;        /* opcional: fundo branco ao redor */
  z-index: 10;                   /* garante que fique acima das outras */
}

.carrossel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffffdd;
  border: none;
  padding: 1rem 1.4rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.2);
  z-index: 10;
}

.carrossel .prev {
  left: -2rem;
}

.carrossel .next {
  right: -2rem;
}

.equipe-container-lumix {
  max-width: 90rem;
  margin: auto;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
  padding: 2rem 2rem 0.1rem 2rem;
}

.equipe-container-lumix .intro p{
  text-align: center;
  font-size: 2rem;
}

.equipe-container-lumix img{
  width: 100%;
  height: 100%; 
  object-fit: contain;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.trabalhos-container-lumix {
  max-width: 100rem;
  margin: 1.5rem auto;
  padding: 1rem;
  text-align: justify;
}

.trabalhos-container-lumix p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  margin-left: 0.3rem;
}

.textoFinal{
  text-align: center;
  font-size: 2.5rem;
}
